/*.abc{
	 
	 color: red;
}
#D{
	 text-align: center;
	 color:yellow;
}

.box{
	color: Tomato;
	
    background-color:red;
	width:350px;height:350px;
}

div{
	color: Tomato;
	
    background-color:slateBlue;
	width:350px;height:350px;
}
//external*/
h1{
	color: navy; 
 }

 
 h1{
	 color: pink;
 }
  