USE [NullFunction]
GO
/****** Object:  StoredProcedure [dbo].[SP_prices]    Script Date: 7/14/2025 10:38:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER proc [dbo].[SP_prices] (@Subst as int,@Mix as int )
as
begin
 select (unitprice  * (UnitsInStock + ISNULL (UnitsOnOrder,@Subst)))/@Mix
 as Price from [dbo].[Products] b ;

end;

exec SP_prices @Subst=1000 ,@Mix=20;







create proc SP_prices 
as
begin
 select unitprice* (UnitsInStock + ISNULL (UnitsOnOrder,0))as Price from [dbo].[Products] b ;

end;
 
