USE [EmployeeDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetEmp]    Script Date: 7/14/2025 9:35:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER proc [dbo].[SP_GetEmp] (@Age as int, @City as varchar(30))
as
begin
select * from employees l where  l.age > @Age  and l.city = @City;
end;

--select * from employees l where  l.age > 30 and city = 'Los Angeles';


exec [dbo].[SP_GetEmp] @Age =32, @City='New York'; 